/*Hide all except first fieldset*/
.donor-form .field2 {
    display: none;
}

.hidden {
    display: none;
}

#myForm {
    width: 20%;
}

.field2 .editable {
    border: 1px solid black;
}

select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 13px;
}

/*inputs*/
 .field1 input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 80%;
    color: #2C3E50;
    font-size: 13px;
}

.donor-form {
    width: 50%;
}

button, a {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.field2 input {
    border: none;
    border-radius: 3px;
    width: 80%;
    color: #2C3E50;
    font-size:13px; 
    margin: 5px;
}

.field1 textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
 .field1 .action-button {
    width: 100px;
    font-weight: bold;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
.field1 .action-button:hover, .field1 .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #900;
}
/*Form labels*/
 label.form-label {
    text-align: left;
 }
.counter-field {
    font-size: 10px;
}
/*Divider*/
 hr {
    margin-bottom: 20px;
    padding: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: #ccc;
}